.banner-section__inner {
    display: flex;
    justify-content: space-between;
}


.banner-section__slider {
    max-width: 870px;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
}

.banner-section__slider__slider-btnprev,
.product-slider__slider__slider-btnprev {
    left: 20px;
}

.banner-section__slider__slider-btnnext,
.product-slider__slider__slider-btnnext {
    right: 20px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0 5px;

}

.slick-dots .slick-active button {
    background-color: #fff;
}

.slick-dots button {
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

.slick-active li button {
    background: #fff;
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    color: #fff;
    text-transform: uppercase;
    background-color: #1c62cd;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.sale-item__price {
    text-align: right;
}

.price {
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.sale-item__price-new {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #1c62cd;
    margin-right: 6px;
    padding-right: 20px;

    &::after {
        content: '';
        background-image: url('../images/icons-price.svg');
        position: absolute;
        width: 15px;
        height: 18px;
        top: 8px;
        right: 0;
    }

}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    margin-right: 15px;
    background-image: url('../images/old-line.svg');
    padding: 2px 5px;
    background-repeat: no-repeat;
    display: inline-block;

    &::after {
        content: '';
        background-image: url('../images/icons-price-old.svg');
        position: absolute;
        width: 8px;
        height: 10px;
        top: 8px;
        right: -10px;
    }
}

.sale-item__footer {
    background-color: #f0f0f4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span {
    color: #1c62cd;
    display: block;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
}

.sale-item__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    font-family: 'SFProDisplay-Regular', sans-serif;
    margin-bottom: 7px;
}

.banner-section__slider-img {
    object-fit: cover;
    min-height: 400px;
}

.sale-item__img {
    object-fit: contain;
    align-self: center;
}