.product-card {
    margin-bottom: 80px;
}

.product-card__inner {
    display: flex;
    justify-content: space-between;
}

.product-card__img-box {
    width: 500px;
    padding-top: 64px;
    font-family: 'Barlow', sans-serif;
    color: #2f3035;
    text-align: center;
    position: relative;
}

.product-card__img-box::before {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    padding: 13px 25px;
}

.product-card__price-old {
    opacity: 0.6;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 0px;
    background-image: url('../images/old-line.svg');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
}

.product-card__price-new {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 17px;
}

.product-card__link {
    border-bottom: 1px solid #1c62cd;
    font-size: 15px;
    line-height: 18px;
    color: #1c62cd;
}

.product-card__content {
    width: 570px;
}

.product-card__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    margin-bottom: 10px;
}

.product-card__code {
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 22px;
}

.product-card__buttons {
    margin-bottom: 50px;
}

.product-card__tab {
    line-height: 24px;
    color: #2f3035;
    opacity: 0.6;
    font-size: 20px;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 20px;
}

.product-card__tab+.product-card__tab {
    padding-left: 17px;
}

.product-card__tab.tab--active {
    opacity: 1;
    border-bottom: 2px solid #1c62cd;
    font-weight: 700;
    font-family: 'SFProDisplay-Bold', sans-serif;
}

.product-card__item {
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    justify-content: space-between;
}

.product-card__item-left {
    padding-left: 15px;
}

.product-card__item-rigth {
    width: 125px;
}

.product-card__more {
    font-size: 14px;
    line-height: 17px;
    color: #1c62cd;
    border-bottom: 1px solid #1c62cd;
    margin-bottom: 40px;
}

.product-card__btn button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-decoration: uppercase;
    color: #fff;
    padding: 16px 56px;
    background: #1c62cd;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.product-card__list {
    margin-bottom: 20px;
}

.product-card__buttons a+a {
    margin-left: 30px;
}

.product-card__btn-mobile {
    display: none;
}