.product-item__wrapper {
    position: relative;
    width: 271px;
    transition: all .3s;
}

.product-item {
    width: 100%;
}

.product-item__wrapper.product-item__wrapper--list {
    width: 100%;
}

.product-item {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    padding: 50px 20px 31px;
    transition: all .3s;
    min-height: 400px;

    &__title {
        font-weight: normal;
        padding: 14px 0 25px;
        font-size: 18px;
        line-height: 21px;
    }

    &__favorite {
        position: absolute;
        top: 16px;
        right: 19px;
        width: 24px;
        height: 22px;
        background-color: transparent;
        border: none;
        z-index: 5;
        outline: none;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 22px;
            top: 0;
            left: 0;
            background-image: url('../images/favorite.svg');
        }

        &--active::before {
            background-image: url('../images/favorite-active.svg')
        }
    }

    &__basket {
        position: absolute;
        width: 60px;
        height: 40px;
        background: #1c62cd;
        border-radius: 10px 0px 0px 0px;
        bottom: 0;
        right: 0;
        border: none;
        padding-top: 7px;
        cursor: pointer;
        z-index: 10;
    }

    &__price {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
    }

    &_hover-text {
        padding: 18px 21px;
        background-color: rgba(255, 255, 255, .9);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: inline-block;
        position: absolute;
        top: 30%;
        opacity: 0;
        transition: all .3s;
    }

    &:hover .product-item_hover-text {
        opacity: 1;
        color: #2f3035;
    }

    &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        color: #1c62cd;
    }

    &__img {
        max-width: 90%;
    }
}

.product-item--sale::before {
    content: "Sale";
    padding: 8px 15px;
    background: #1c62cd;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
}

.product-item__wrapper.product-item__not-available .product-item__price {
    display: none;
}

.product-item__notify-text {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.product-item:hover .product-item__notify-text {
    color: #2f3035;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
    display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
    display: none;
}

.product-item__notify-link {
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
    display: block;
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    left: 0;
    right: 0;
    text-align: center;
    color: #1c62cd;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link span {
    border-bottom: 1px solid #1c62cd;
}

.product-item__wrapper.product-item__not-available .product-item__title {
    padding-bottom: 13px;
}

.product__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 25px;
}

.products__tab+.products__tab {
    margin-left: 50px;
}

.products__tabs {
    margin-bottom: 25px;
}

.products__tab {
    padding-bottom: 10px;

    &.tab--active {
        border-bottom: 2px solid #1c62cd;
    }
}

.product-slider__slider__slider-btnprev {
    left: -20px;
}

.product-slider__slider__slider-btnnext {
    right: -20px;
}

.slick-slide img {
    display: inline;
}

.product__more {
    text-align: center;
    margin: 35px 0 0;
}

.product__more-link {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 16px 43px;
    background: #f0f0f4;
}

.products {
    margin-bottom: 80px;
}

.product-slider .slick-dots {
    bottom: -30px;

    & button {
        background: #c4c4c4;
    }

    & .slick-active button {
        background: #1c62cd;
    }
}